<h1>{{title}}</h1>


  <div id="add-beer-container">
    <!-- <form> -->
      <form class="" action="api/users/{{user._id}}/beers" method="post">
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Brewery</label>
        <input type="text" name="brewery" id="brewery-search-box" value="{{breweryResult}}" class="form-control">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleInputEmail1">Beer</label>
        <input type="text" name="beer" id="add-beer-search-box" value="{{beerResult}}" class="form-control">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleInputEmail1">Style</label>
        <input type="text" name="style" id="style-search-box" value="{{beerStyle}}" class="form-control">
      </fieldset>

      <script>
        document.getElementById("add-beer-search-box").readOnly=true;
        document.getElementById("brewery-search-box").readOnly=true;
        document.getElementById("style-search-box").readOnly=true;
      </script>

      <fieldset class="form-group">
        <label for="inputDate">Date</label>
        <input type="Text" name="date" class="form-control" id="inputBeerDate" value="{{beerDate}}" placeholder="Bottling date or vintage. YYYY or DD-MM-YYYY">
      </fieldset>

      <fieldset class="form-group">
        <label for="inputDate">Qty.</label>
        <input type="Text" name="quantity" class="form-control" id="inputBeerQuantity" value="{{beerQuantity}}" placeholder="How much you got?">
      </fieldset>

      <fieldset class="form-group">
        <label for="exampleSelect1">For Trade?</label>
        <select class="form-control" name="forTrade" value="{{beerForTrade}}" id="exampleSelect1">
          <option>Yes</option>
          <option>No</option>
        </select>
      </fieldset>
      <button type="submit" class="btn btn-primary" id="add-button">Add to Cellar</button>
      <!-- <button type="submit" name="beer" class="btn btn-primary" id="add-button">Add to Cellar</button> -->
        </form>
        <!-- {{req.user}} -->
    <!-- </form> -->
  </div>

  <div id="beer-results">
  </div>

  <script>


  </script>
