<h1>{{pageHeader.username}}'s {{pageHeader.title}}</h1>
  <div class="container-fluid">
    <div class="row">
      <div ng-controller="cellarListCtrl" class="col-md-8 col-xs-12">
        <div id='cellar-list-container'>
          <label id="beer-search-label" for="filter">Search</label>
          <input id="beer-search" type="text" class="form-control" name="filter" ng-model="textFilter">
          <form method="get" action='search?id={{id}}'>
            <button <a href='search?id={{id}}' type="submit" id="add-beer-btn" class="btn btn-primary"></a>Add a Beer</button>
          </form>
          <script>
          </script>
          <table class="table table-striped">
            <tr>
              <th>Brewery</th>
              <th>Beer</th>
              <th>Style</th>
              <th>Bottling Date</th>
              <th>Qty</th>
              <th>For Trade?</th>
              <th>Edit</th>
            </tr>

            <tr ng-repeat="beer in data.beers | filter : textFilter">
              <td>//beer.brewery//</td>
              <td>//beer.name//</td>
              <td>//beer.style//</td>
              <td>//beer.date//</td>
              <td>//beer.quantity//</td>
              <td>//beer.forTrade | yesNo //</td>
               <td><a href="/edit?brewery=//beer.brewery//&beer=//beer.name//&style=//beer.style//&date=//beer.date//&quantity=//beer.quantity//&forTrade=//beer.forTrade//&id={{this._id}}&user={{id}}" id="edit-beer-link"><span class="glyphicon glyphicon-pencil"></span></td>
            </tr>

          </table>
         </div>
        </div>


        <div class="col-md-2 col-xs-8">
          <div id="sort-column-container">
            <h4>Sort</h4>
            <table class="table table-striped">
                     {{#each beers}}
                     <tr>
                      <td><input type="checkbox"></td>
                       <td>{{this.style}}</td>
                     </tr>
                     {{/each}}
                 </table>
               </div>
             </div>
           </div>
         </div>
