<div ng-controller="cellarListCtrl">
<h1>//data.username//'s {{pageHeader.title}}</h1>
  <div class="container-fluid">
    <div class="row">
      <divclass="col-md-8 col-xs-12">
        <div id='cellar-list-container'>
          <label id="beer-search-label" for="filter">Search</label>
          <input id="beer-search" type="text" class="form-control" name="filter" ng-model="textFilter">
          <form method="get" action='search?id={{id}}'>
            <button <a href='search?id={{id}}' type="submit" id="add-beer-btn" class="btn btn-primary"></a>Add a Beer</button>
          </form>
          <script>
          </script>
          <table class="table table-striped">
            <tr>
              <th>Brewery</th>
              <th>Beer</th>
              <th>Style</th>
              <th>Bottling Date</th>
              <th>Qty</th>
              <th>For Trade?</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>

            <tr ng-repeat="beer in data.beers | filter : textFilter">
              <td>//beer.brewery//</td>
              <td>//beer.beer//</td>
              <td>//beer.style//</td>
              <td><label ng-hide="editing" class="editing-label">//beer.date//</label><input ng-change="date.edited = true" ng-blur="editing = false;sendDate(beer.date, beer._id)" ng-show="editing" ng-model="beer.date" name="date" id="date-edit" class="editing-label" type="text"/></td>
              <!-- <input ng-show="editing" ng-model="beer.date" class="editing-label" type="text"/> -->
              <td>//beer.quantity//</td>
              <td>//beer.forTrade | yesNo //</td>
              <td><a href="" ng-click=" editing = !editing" id="edit-beer-link"><span class="glyphicon glyphicon-pencil"></span></td>
              <td><a href="" ng-click="helloConsole()" class="delete" id="edit-beer-link"><span class="glyphicon glyphicon-trash"></span></td>
            </tr>

          </table>
         </div>
        </div>


        <!-- <div class="col-md-2 col-xs-8">
          <div id="sort-column-container">
            <h4>Sort</h4>
            <table class="table table-striped">
                     {{#each beers}}
                     <tr>
                      <td><input type="checkbox"></td>
                       <td>{{this.style}}</td>
                     </tr>
                     {{/each}}
                 </table>
               </div>
             </div>
           </div>
         </div>
       </div> -->
       <div id="userId">{{theId}}</div>
